@import url(//db.onlinewebfonts.com/c/2d5f91cbc8faa21103d08ce9d19040d6?family=ChangelingNeoW01-Bold);

@font-face {font-family: "ChangelingNeoW01-Bold"; src: url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.eot"); src: url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.woff") format("woff"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2d5f91cbc8faa21103d08ce9d19040d6.svg#ChangelingNeoW01-Bold") format("svg"); }

:root {
    --font: rgb(54, 54, 54);
    --grey: rgb(163, 162, 162);
    --light-grey: rgb(248, 248, 248);
}
html {
    background-color: rgb(204, 204, 204);
}
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans Condensed', Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    max-width: 1920px;
    min-width: 300px;
    background-color: white;
}
main {
    position: "relative";
    text-align: center;
}
footer {
    background:  rgb(94, 92, 92);
    position: relative;
    width: 100%;
}
h1 {
    font-size: 40px;
    margin: 0;
    font-weight: normal;
}
h2 {
    font-size: 30px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
    font-weight: normal;
}
h4 {
    font-size: 17px;
    font-weight: normal;
}
a {
    color: black;
    text-decoration: none;
  }
li {
    list-style: none;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: white;
}
#loading-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);
}
.not-loaded {
    opacity: 0;
}
.passive {
    /* position: relative !important;
    top: -1111px !important;
    z-index: -1 !important;
    height: 0; */
}
.invisible, .not-visible {
    opacity: 0;
}
.no-display {
    display: none !important;
}
.hidden {
    top: -1000% !important;
    left: -1000% !important;
}
.transition {
    -webkit-transition: all 1s !important;
    transition: all 1s !important;
}
.padding-top {
    padding-top: 80px;
}
.btn {
    padding: 10px;
    margin: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    user-select: none;
    background-color: rgb(94, 92, 92);
    background-image: linear-gradient(to right, rgb(94, 92, 92), rgb(165, 149, 149));
}
.btn:hover {
    background-image: linear-gradient(to right, rgb(74, 74, 74), rgb(120, 120, 120));
    -webkit-transition: all 1s;
    transition: all 1s;
}

/* <<<<< HEADER >>>>> */
.header-container, .title-container {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    max-width: 1920px;
    background-color: white;
    min-width: 300px;
    border-bottom: 1px solid rgb(83, 56, 15);
    z-index: 1000;

}
.header-container .image-container {
    height: 100px;
}
.header-container .image-container img {
    height: 100%
}
.title-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    left: 0px;
    top: 0px;
}
.title {
    font-family: "ChangelingNeoW01-Bold";
}
#title  {
    font-size: 25px;
    grid-column-start: 2;
    text-align: center;
    user-select: none;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; 
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 59px;
    left: 0;
    font-size: 16px;
    border-top: 0px solid rgb(128, 128, 128);
    box-shadow: 0px 0px 2px .1px gray;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    max-width: 1920px;
}
.nav-ul .nav-item-newsletter {
    display: none;
}
.nav-ul-top {
    top: 0;
}
.nav-ul li {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
}
.nav-slide {
    position: fixed;
    -webkit-transition: top 1s ease-in;
    transition: top 1s ease-in;
    background-color: white;
    z-index: 9;
    padding-top: 6px;
    margin-top: 0px;
}
.nav-page-container{
    margin-left: 30px;
    margin-right: 30px;
}
.nav-page-container > .active {
    position: relative;
}
.nav-page-container > .active::after {
    position: absolute;
    content: "";
    width: 50%;
    display: block;
    border-bottom: 1px solid rgb(87, 87, 87);
    padding-top: 4px;
}
.nav-item:hover, .nav-page-item:hover, .newsletter:hover {
    color: black;
    font-weight: bold;
}
.nav-menu-ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-menu-ul li {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}
.menu-passive {
    width: 100%;
    height: 0%;
    top: -100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: white;
    z-index: 1;    
    -webkit-transition: all 1s;
    transition: all 1s;
    overflow: hidden;
} 
.menu-active {
    top: 50%;
    height: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 10;
}
.menu-nav-item {
    padding: 20px;
}


/* <<<<< MENU >>>>> */
.menu-wrap, .title-container .newsletter {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 
    cursor: pointer;
}
.title-container .newsletter {
    font-size: 18px;
}
.cart {
    position: sticky;
    bottom: 0;
    left: 20px;
    text-align: left;
    padding: 20px
}
.menu-wrap .toggler {
    position: absolute;
    top: -30px;
    left: -25px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .menu-btn {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu-btn > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .menu-btn > div::before,
.menu-wrap .menu-btn > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.menu-wrap .menu-btn > div::after {
    top: 10px;
}
.menu-wrap .toggler:checked + .menu-btn > div {
transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .menu-btn > div:before,
.menu-wrap .toggler:checked + .menu-btn > div:after {
    top: 0;
    transform: rotate(90deg);
}
/* Rotate On Hover When Checked */
/*
.menu-wrap .toggler:checked:hover + .menu-btn > div {
transform: rotate(315deg);
}
.menu-wrap .toggler:hover + .menu-btn > div {
    transform: rotate(-180deg);
}
*/

@media screen and (min-width: 1920px) {
    .title-container, .nav .nav-ul {
        left: 50%;
        margin-left: -960px;
    }
}
@media screen and (max-width: 768px) {
    .nav-ul {
        padding: 0;
    }
    .nav-ul li {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* <<<<< CONTAINERS && GRIDS && FLEXS >>>>> */
/* <<<<< CONTAINER>>>>> */
.first .container-image-text {
    padding-top: 60px;
}
.container-image-text {
    user-select: none;
    width: 80%;
}
.container-image-text div {
    max-height: 100%;
    overflow: hidden;
}
.container-image-text img {
    display: block;
    width: 100%;
    object-fit: cover;
    padding-top: 40px;
}
.container-image-text h1, .flex-2x2 h1 {
    position: relative;
    top: -150px;
    left: 50%;
    transform: translate( -50%, 0 );
    text-align: center;
    background-color: rgba(133, 131, 131, 0.301);
    color: rgb(255, 255, 255);
    width: 100%;
}
.container-image-text h2 {
    padding-top: 5px;
    width: 80%;
}
.container-image-text h3 {
    max-height: 100%;
    width: 100%;
    padding-top: 20px;
}
.container-image-text h4 {
    max-height: 100%;
    width: 100%;
    padding-top: 20px;
}
@media screen and (max-width: 768px) {
    .first .container-image-text {
        padding-top: 100px;
    }
    .container-image-text img {
        padding-top: 0px;
    }
}
/* <<<<< CONTAINER >>>>> */
.container-item {
    position: relative;
    padding-top: 100px;
    width: 100%;
    line-height: 35px;
}
.container-item h4 {
    color: rgb(87, 87, 87);
}
.container-item h1:after, .container-image-text h2:after {
    content: "";
    position: relative;
    width: 20%;
    left: 40%;
    content: "";
    display: block;
    border-bottom: 1px solid rgb(87, 87, 87);
    padding-top: 20px;
    margin-bottom: 40px;
}
.container-item .image-container.horizontal {
    width: 80%;
}
.container-item .image-container.vertical {
    height: 80%;
}
.container-item .image-container.horizontal img {
    width: 100%;
}
.container-item .image-container.vertical img {
    height: 100%;
}
.container-item .details {
    padding: 10px;
}
.container-item .details h5:last-child {
    color: rgb(124, 124, 124);
}
.container-item .wide {
    width: 100%;
    max-height: 80%;
    overflow: hidden;
}
.container-item .article.content {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
}
.container-item .contacts {
    position: sticky;
    position: -webkit-sticky;
    text-align: left;
    top: 120px;
    height: 0;
    transition: all 1s;
    z-index: 1;
}
.container-item .contacts ul {
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
}
.container-item .contacts li:nth-child(1) {
    padding-top: 35px;
}
@media screen and (max-width: 768px) {
    .container-item .contacts {
        display: none;
    }
    .container-item .image-container.horizontal {
        width: 100%;
    }
    .container-item .image-container.vertical  {
        height: unset;
    }
    .container-item .image-container.vertical img  {
        width: 100%;
        height: unset;
    }
}

/* <<<<< RECOMMENDED >>>>> */
.recommended-articles, .recommended-products {
    padding-bottom: 100px;
}
.recommended-articles * {
    text-align: center !important;
}
.recommended-articles .item-select {
    width: 50%;
    height: 50vw;
    max-height: 960px;
}
.recommended-articles .border-title,
.recommended-products .border-title {
    flex: 0 0 100%;
}
.recommended-articles .item-select .image-container {
    height: 100%;
    overflow: hidden;
}
.recommended-articles .item-select img.vertical {
    width: 100%;
    margin-top: 50%;
    transform: translateY(-50%);
}
.recommended-articles .item-select img.horizontal {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.recommended-articles .article-title {
    position: relative;
    top: -150px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 1000;
    z-index: 1;
}
.recommended-products .item-select {
    width: 25%
}
.recommended-products img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .recommended-articles .item-select {
        width: 100%;
    }
    .recommended-articles .item-select img.horizontal {
        height: unset;
        width: 100%;
    }
    .recommended-articles .article-title {
        top: -110px;
    }
    .article-title h1 {
        font-size: 30px;
    }
    .recommended-products .item-select {
        width: 100%;
        padding-bottom: 40px;
    }
}

/* <<<<< BACK BUTTON >>>>> */
.back-button {
    font-size: 40px;
    cursor: pointer;
    bottom: 40px;
    width: 40px;
    z-index: 9;
}
.back-button.fixed {
    position: fixed;
}
.back-button.sticky {
    position: sticky;
    text-align: right;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* <<<<< PRODUCT IMAGE CONTAINER >>>>> */
.product-image-container-dummy {
    position: absolute;
    width: 30vw;
    left: -9999px;
    max-width: 1720px;
}
.product-image-container-dummy .active img {
    max-width: 1720px;
    width: calc(30vw - 4px);
}
.product-image-container-dummy .passive img {
    width: 20%;
}
.product-image-container {
    position: relative;
    display: flex;   
    width: 30vw;
    max-width: 1720px;
}
.product-image-container .active {
    display: block;   
    position: relative;
    width: 0%;
    height: 0;
    padding: 0;
    margin: 0;
}
.product-image-container .active img {
    display: block;   
    position: relative;
    width: calc(30vw - 4px);
    max-width: 1720px;  
    z-index: 2;
}
.product-image-container .passive {
    display: block;   
    position: relative;
    top: 0;
    left: 0px;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 2px;
    z-index: 1;
    opacity: .9;
}
.product-image-container .passive:hover {
    opacity: 1;
}
.product-image-container .passive img {
    display: block;   
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.container-item .select-container {
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding-top: 40px;
}
.container-item .select-container * {
    margin: 0;
    text-align: left;
    line-height: 20px;
}
.container-item .select-container select {
    height: 40px;
    border: 1px solid rgba(120, 120, 120, 0.336);
    border-radius: 2px;
    outline: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-item .select-container label, .container-item .price {
    color:rgb(120, 120, 120);
}
.container-item .product.content {
    text-align: left;
    width: 50%;
}
.container-item .offer-container {
    margin: 20px !important;
}
.container-item .icon {
    position: absolute;
    width: 35px;
    height: 35px;
    margin-right: -15px;
    top: -20px;
    right: 0;
    background-color: white;
    border-radius: 100%;
    transition: all .2s;
    z-index: 8;
}
.container-item .icon:hover {
    font-size: 25px;
    transition: all .2s;
}
@media screen and (max-width: 768px) {
    .product-image-container-dummy {
        width: 80vw;
    }
    .product-image-container-dummy .active img {
        width: calc(80vw - 4px);
    }
    .product-image-container {
        width: 80vw;
    }
    .product-image-container .active img {
        width: calc(80vw - 4px);
    }
    .container-item .select-container {
        width: 80%;
    }
    .container-item .product.content {
        width: 80%;
    }
}


/* <<<<< FLEX >>>>> */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.flex-2x2 {
    width: 45%; 
}
.flex-2x2 img {
    display: block;
    object-fit: scale-down;
    width: 100%;    
}
.flex-2x2 h1 {
    width: 100%;
    top: -70px;
    color: rgb(49, 49, 49);
    background-color: rgba(255, 255, 255, 0.301);
}
@media screen and (max-width: 768px) {
    .container-image-text {
        width: 100%;
    }
    .container-image-text img {
        width: 100%;
    }
    .container-image-text h1 strong {
        font-weight: normal;
    }
    .container-image-text .title {
        font-size: 30px;
    }
    .container-item .article.content {
        width: 100%;
    }
    .flex-2x2 {
        width: 100%;
    }
} 
/* <<<<< MAIN >>>>> */
main h1:first-child {
    margin: 20px;
    margin-top: 30px;
}
.border-title {
    position: relative;
    border-top: 1px rgba(128, 128, 128, 0.24) solid;
    border-bottom: 1px rgb(128, 128, 128, 0.24) solid;
    padding: 15px;
    font-size: 25px;
}
/* <<<<< PRODUCTS >>>>> */
.products {
    justify-content: flex-start;
}
.products .product {
    width: 25%;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0;
}
.product .img-container img {
    width: 100%;
}
.product .misc-container {
    position: relative;
    height: 50px;
    width: 100%;
    top: -90px;
    justify-content: flex-end;
    flex-direction: column;
    user-select: none;
}
.product span {
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    user-select: none;
}
.product .none {
    display: none !important;
}
.product .icon {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: -15px;
    top: -20px;
    background-color: white;
    border-radius: 100%;
    transition: all .2s;
    z-index: 1;
}
.product .icon:hover {
    font-size: 25px;
    transition: all .2s;
}
.product .info-container {
    position: relative;
    top: -60px;
}
.product .price {
    color:rgb(120, 120, 120);
}

@media screen and (max-width: 768px) {
    .products .product {
        width: 50%;
    }
    .product .misc-container {
        overflow: hidden;
    }
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "g-1 g-2 g-3"
    "g-4 g-2 g-5";
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 25px;
    padding: 40px;
    margin-bottom: 20px;
}
.articles.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding-bottom: 100px;  
    margin: 0;
    transition: all .5s;
}
.articles.flex .item-select {
    width: 30vw;    
    height: 30vw;    
    overflow: hidden;
    padding: 20px;
    margin: 0;
}
.articles.flex .item-select .image-container {
    height: calc(100% - 50px);
    overflow: hidden;
}
.item-select h1 {
    font-size: 3.5vmin;
}
.articles.flex .item-select h2 {
    line-height: 50px;
}
.articles.flex .item-select.horizontal img {
    height: 100%;
    display: inline;
    margin-left: 50%;
    transform: translateX(-50%);
}
.articles.flex .item-select.vertical img {
    width: 100%;
    display: inline;
    margin-top: 50%;
    transform: translateY(-50%);
}
.articles.flex .item-select h2 {
    z-index: 2;
}
@media screen and (max-width: 768px) {
    .articles.flex .item-select {
        height: auto;    
        width: 100vw;    
        overflow: hidden;
    }
    .articles.flex .item-select.horizontal img {
        height: auto;
        width: 100%;
    }
    .articles.flex .item-select .image-container {
        height: unset;
    }
}

#id-1 {
    grid-area: g-1;
}
#id-2 {
    grid-area: g-2;
}
#id-3 {
    grid-area: g-3;
}
#id-4 {
    grid-area: g-4;
}
#id-5 {
    grid-area: g-5;
}
.grid-item {
    object-fit: cover;
}
.grid-img {
    width: 100%;
}
.article-title {
    text-align: left;
}
.article-title h1 {
    text-align: left;
    margin-bottom: 10px; 
}
.article-title h2 {
    margin-top: 0;  
    margin-bottom: 10px;  
}
.grid-item .article-title:after {
    content: "";
    width: 50%;
    display: block;
    border-bottom: 1px solid rgb(87, 87, 87);
    margin-bottom: 20px;
}
.article-p {
    color: rgb(87, 87, 87);
    position: relative;
    text-align: left;
    margin-bottom: 0;  
    font-size: 18px;
}
@media screen and (max-width: 768px) {
    main h1:first-child {
        margin: 20px;
    }
    .grid-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
    }
    .grid-item {
        padding-bottom: 40px;
    }
    .grid-item .article-p, .grid-item .article-title {
        text-align: center;
    }
    .article-title:after {
        width: 20%;
        margin-left: 40%;
    }
}
/* <<<<< OFFER >>>>> */ 
.offer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.offer-container * {
    margin: 0;
}
.offer-btn {
    padding-left: 20px; 
}
@media screen and (max-width: 768px) {
    .offer-container {
        flex-direction: column;
    }
    .offer-btn {
        padding-top: 20px; 
    }
}

/* <<<<< LINKS >>>>> */
.links {
    background-color: rgba(247, 247, 247, 0.815);
    width: 100%;
    margin-bottom: 40px;
}
.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 40px;
    padding-left: 10%;
    padding-top: 40px;
    margin-top: -30px;
    text-align: left;
    margin: auto;
}
.link-item {
    padding: 0;
    margin: 0;
}
.link-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.link-img-container {
    padding: 0;
    margin: 0;
}
.link-img {
    object-fit: cover;
    height: 90px;
    width: 90px;
    
}
.link-p {
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}
.link-titles {
    padding-left: 20px;
    margin: 0;
}
.link-title {
    margin-top: 0;
}
@media screen and (max-width: 768px) {
    .links-container {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .link-img-container {
        align-self: center;
    }
    .link-titles {
        padding-left: 20px;
    }
} 

/* <<<<< FORM >>>>> */
.section-form {
    position: relative;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: left;
    padding-top: 40px;
    margin-bottom: 100px;
}
.section-form .form {
    padding-bottom: 140px;
}
.section-form .text {
    padding-bottom: 40px;
}
.section-form .title {
    font-size: 25px;
}
.form-item {
    display: flex;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}
.form-item * {
    margin: 0;
}
.section-form .submit {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
    top: calc(100vh - 100px);
    text-align: center;
    width: 100%;
    background-color: white;
    z-index: 9;
    padding: 0;
    margin: 0;
}
.section-form .submit a {
    z-index: 2;
}
.section-form .submit input {
    padding: 17.5px;
    border-radius: 5px;
    position: relative;
    left: 5px;
    min-width: 50%;
    border-right: 0px red solid;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .section-form .text.first{
        text-align: center;
    }
    .form-item {
        width: 100%;
    }
    .section-form .form {
        padding-bottom: 100px;
    }
    .section-form .submit {
        font-size: 17px;
        top: calc(100vh - 100px);
    }
    .section-form .submit input {
        padding: 12px;
        padding-left: 7px;
    }
}

/* <<<<< CHECKBOX >>>>> */
.checkbox {
    text-align: left;
    display: flex;
    padding-top: 5px;
}
.checkbox * {
    margin: 0;
}
.checkbox[type='checkbox']{ 
    height: 0; 
    width: 0; 
    opacity: 0;
}
.checkbox[type='checkbox'] + label {
    position: relative;
    height: 20px;
    align-items: center;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
.checkbox[type='checkbox'] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-left: 10px;
    background: var(--light-grey);
    border: 2px solid rgb(95, 95, 95);
    border-radius: 2px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
    transition: margin 0s;
}
.ckeckbox-box[type='checkbox'] + label > span:hover,
.checkbox[type='checkbox']:focus + label > span{
    background: var(--light-grey);
}
.checkbox[type='checkbox'] + label > span:hover {
    border: 2px solid black;
    background-color: var(--light-grey);
    transition: background-color 1s, border 1s;
}
.checkbox[type='checkbox']:checked + label > span{
    border: 2px solid black;
    background:   black;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
    transition: all 1s;
}
.checkbox[type='checkbox'] + label > span:after {
    border: 1px solid transparent;
    border-radius: 50%;
    content: "";
    opacity: 1;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
}
.checkbox[type='checkbox'] + label > span:hover:after {
    border: 1px solid transparent;
    background-color: black;
    border-radius: 50%;
    content: "";    
    opacity: .05;
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
}
.checkbox[type='checkbox']:checked + label > span:hover:after {
    border: 1px solid transparent;
    background-color: black;
    border-radius: 50%;
    content: "";
    opacity: .1;
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 40px;
}
.checkbox[type='checkbox']:checked + label > span:before{
    content: "";
    position: relative;
    z-index: 999;
    top: 0em;
    left: -.3em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
  }
@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: white;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .4em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .4em;
    height: 1em;    
    border-color: white;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}

/* <<<<< FOOTER >>>>> */
footer {
    position: relative;
    bottom: 0;
    max-width: 1920px;
}
.footer * {
    color: white;
}
.footer {
    padding-top: 40px;
    padding-bottom: 20px;
}
.flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
    flex-wrap: wrap;
    padding: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-footer div {
    margin: 0
}
.flex-footer-item-title {
    font-weight: bold;
}
.fabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
}
.fabs * {
    margin: 0;  
}
.fabs i {
    font-size: 25px;
    -webkit-transition: color 1s;
    transition: color 1s;
}
.fabs i:hover {
    color: rgb(155, 155, 155);
    -webkit-transition: color 1s;
    transition: color 1s;
}
.fabs li {
    padding: 20px;
    padding-left: 0;
}
.flex-footer-item-title:hover, .flex-footer-item-list li:hover {
    text-decoration: underline;
}
.flex-footer-misc {
    margin-top: 20px;
    padding-top: 40px;
    flex-basis: 100%;
}
.flex-footer-misc:before {
    position: absolute;
    bottom: 80px;
    left: 0;
    content: "";
    width: 100%;
    border-top: 1px solid white;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .footer * {
        text-align: center;
    }
    .flex-footer {
        flex-direction: column;
    }
    .flex-footer-item {
        padding-bottom: 10px;
    }
    .flex-footer-item li {
        padding: 10px;
    }
    .fabs {
        justify-content: center;
    }
    .fabs li {
        padding: 20px;
    }
}
